@model WebApplication1.Models.Equipment

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактирование</h1>

<h4>Оборудования</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NameEq" class="control-label">Название оборудования</label>
                <input asp-for="NameEq" class="form-control" />
                <span asp-validation-for="NameEq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workshop" class="control-label">Цех</label>
                <input asp-for="Workshop" class="form-control" />
                <span asp-validation-for="Workshop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcNumber" class="control-label">Учетный номер</label>
                <input asp-for="AcNumber" class="form-control" />
                <span asp-validation-for="AcNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к листу</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
